{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form action ="{{url_for('login')}}" method="POST">
			<h3>Login form</h3>
			<label>Email</label><input type="text" name="email" class="form-control" placeholder="example@mail.com">
			<label>Password</label><input type="password" name="password" class="form-control" placeholder="password">
			<button class="btn btn-primary btn-lg form-control" style="margin-top: 10px;">Login</button>
			<small>You dont have an account? <a href="{{url_for('register')}}">Register</a></small>
	</form>
	</div>

</div>
{%endblock%}