{% extends 'base.html' %}

{% block title %} edit-profile {% endblock %}

{% block body %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Fisrt name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-6"><label class="labels">Email</label><input type="text" class="form-control" placeholder="email" value=""></div>
                    <div class="col-md-12"><label class="labels">Physical Address</label><textarea type="text" class="form-control" placeholder="physical address" value="" rows="5"></textarea></div>
                    <div class="col-md-12"><label class="labels">Postal Adress</label><input type="text" class="form-control" placeholder="enter postal address" value=""></div>
                    <div class="col-md-12"><label class="labels">Postal code</label><input type="number" class="form-control" placeholder="postal code" value=""></div>
                    <div class="col-md-12"><label class="labels">Website</label><input type="text" class="form-control" placeholder="website url" value=""></div>
                    <div class="col-md-12"><label class="labels">Town</label><input type="text" class="form-control" placeholder="enter town" value=""></div>
                    <div class="col-md-12"><label class="labels">Interests</label><textarea type="text" class="form-control" placeholder="interest A, interest B, interest C" value="" rows="5"></textarea></div>
                    <div class="col-md-12"><label class="labels">Role</label><input type="text" class="form-control" placeholder="Software Developer" value=""></div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Facebook</label><input type="text" class="form-control" placeholder="facebook username" value=""></div>
                    <div class="col-md-6"><label class="labels">Twitter</label><input type="text" class="form-control" value="" placeholder="@username"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">YouTube</label><input type="text" class="form-control" placeholder="youtube username" value=""></div>
                    <div class="col-md-6"><label class="labels">Linkedin</label><input type="text" class="form-control" value="" placeholder="linkedin username"></div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region/County</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>
{%endblock%}