{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form action ="{{url_for('register')}}" method="POST">
			<h3>Registeration form</h3>
			<label>Email</label><input type="text" name="email" class="form-control" placeholder="example@mail.com" required>
			<label>First Name</label>
			<input type="text" name="fname" class="form-control" placeholder="Your First name" required>
			<label>Last Name</label>
			<input type="text" name="lname" class="form-control" placeholder="Your last name" required>
			<label>Password</label><input type="password" name="password" class="form-control" placeholder="password" required>
			<label>Confirm Password</label><input type="password" name="confirm_pass" class="form-control" placeholder="confirm password" required>
			<button class="btn btn-primary btn-lg form-control" style="margin-top: 10px;">Register</button>
			<small>Have an account? <a href="{{url_for('login')}}">Login</a></small>
	</form>
	</div>

</div>
{%endblock%}